header {
    display: flex;
}

main {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
}

footer {
    display: flex;
    position: relative;
    background-color: rgb(238, 238, 238);
    max-height: 40px;
    border-top: 1px solid rgb(225, 225, 225);
    padding: 5px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    font-family: Arial;
    font-size: 13px;
    padding: 0px 10px 0px 10px;
}

a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;
}

.page-footer {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;
}

.main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.main-search {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.main-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topleft {
    display: inline-flex;
    padding-left: 5px;
}

.topright {
    display: inline-flex;
    padding-right: 5px;
}

.logo {
    align-items: center;
    justify-content: center;
    width: 100px;
}

.imglogo {
    width: 210px;
}

input[type="text"]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, .11);
}

.search {

}

input[type="button"]{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 17px 10px 17px;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 248, 248);
    border: none;
    font-family: Arial;
    font-size: 14px;
    border-radius: 7%;
}

.buttonleft {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-right: 10px;    
}

.buttonright {
    display: inline-block;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.bottomleft {
    display: inline-flex;
    padding-left: 5px;
    align-items: center;
}

.bottomright {
    display: inline-flex;
    padding-right: 5px;
}