ul {
    list-style-type: none;
}

li {
    display: inline;
}

header {
    display: inline-block;
}

body {
    align-items: center;
    justify-content: center;
}

.topleft {
    display: flex;
    margin-top: 0px;
    left: 0px;
}

.topright {
    position: relative;
    float: right;
    margin-top: 0px;
    right: 30px;
}

.logo {
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-top: 15px;
  }

input[type="text"]{
    width: 300px;
}

.search {
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: 15px;
}

input[type="button"]{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonleft {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.buttonright {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

footer {
    margin-bottom: 0;
}

.bottomleft {
    left: 0;
}

.bottomright {
    float: right;
    right: 30px;
}